{{ 'section-product-tabs.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

<section class="product-tabs">
    <div class="product-tabs-content page-width">
        <div class="product-header">
            <div class="text-area">
                <span class="sub-title">Best sellers</span>
                <h3 class="title">{{ section.settings.title }}</h3>
            </div>
            <div class="swiper" style="display: contents;">
                <div class="tabs-area swiper-wrapper">
                    {% for block in section.blocks %}
                    <a href="#" data-collection="{{block.settings.collection.handle}}"
                        class="tab swiper-slide {% if forloop.first %} tab-active {% endif %}">{{block.settings.collection.title}}</a>
                    {% endfor %}
                    <script>
                        let current_tabs = document.querySelectorAll(".tab");
                        console.log("current-tabs-", current_tabs);
                        current_tabs.forEach(tab => {
                            tab.addEventListener("click", function () {
                                let last_active_tab = document.querySelector(".tab.tab-active");
                                console.log("last-current-tabs-", last_active_tab);
                                last_active_tab.classList.remove("tab-active");

                                let last_active_product = document.querySelector(".product-item-wrapper.active");
                                console.log("last-current-product-", last_active_product);
                                last_active_product.classList.remove("active");

                                tab.classList.add('tab-active');

                                let products = document.querySelectorAll(".product-item-wrapper");
                                products.forEach(product => { 
                                    if (product.getAttribute("data-collection") == tab.getAttribute("data-collection")){
                                        product.classList.add('active');
                                    };
                                });
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="products">
            {% for block in section.blocks %}

            <div data-collection="{{block.settings.collection.handle}}"
                class="product-item-wrapper {% if forloop.first %} active {% endif %}">

                {%- for product in block.settings.collection.products limit: 4 -%}
                <div class="product">
                    <div class="image-container">
                        <img src="{{ product.featured_image | image_url}}" alt="">
                    </div>
                    <div class="text-container">
                        <div class="country-line">
                            {%- assign svg_file = product.metafields.custom.country_name | downcase | append: ".svg" -%}
                            <img src="{{images[svg_file] | image_url}}" alt="">
                            <span>{{product.metafields.custom.country_name}}</span>
                        </div>
                        <h3>{{product.title}}<!-- - {{product.variants.first.weight | weight_with_unit: product.variants.weight_unit}}-->
                        </h3>

                        <div class="rating-line">
                            <div class="stars">
                                {% assign rating_division = product.metafields.rating_stars.value | modulo: 1 %}
                                {% if rating_division != 0 %}
                                {% assign rating_number = product.metafields.rating_stars.value | minus: rating_division
                                %}
                                {% else%}
                                {% assign rating_number = product.metafields.rating_stars.value %}
                                {% endif %}
                                {% assign rating_result = rating_number | round%}
                                {% for i in (1..rating_result) %}
                                <svg width="15" height="16" viewBox="0 0 15 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M7.50292 2.23988C7.41531 2.23933 7.32931 2.26334 7.25465 2.30919C7.18 2.35504 7.11969 2.42089 7.08056 2.49928L5.47045 5.71949L1.64721 6.30787C1.56163 6.32109 1.48139 6.35776 1.41538 6.41381C1.34937 6.46985 1.30017 6.54309 1.27324 6.62539C1.24631 6.70769 1.24271 6.79584 1.26282 6.88006C1.28294 6.96429 1.32599 7.0413 1.3872 7.10255L4.03185 9.7472L3.44286 13.5747C3.42969 13.6603 3.4405 13.748 3.4741 13.8278C3.5077 13.9077 3.56277 13.9767 3.63321 14.0271C3.70364 14.0776 3.78668 14.1075 3.8731 14.1136C3.95952 14.1198 4.04595 14.1018 4.12279 14.0618L7.49987 12.2997L10.8769 14.0618C10.9538 14.1018 11.0402 14.1198 11.1266 14.1136C11.2131 14.1075 11.2961 14.0776 11.3665 14.0271C11.437 13.9767 11.492 13.9077 11.5256 13.8278C11.5592 13.748 11.5701 13.6603 11.5569 13.5747L10.9679 9.7472L13.6125 7.10255C13.6737 7.0413 13.7168 6.96429 13.7369 6.88006C13.757 6.79584 13.7534 6.70769 13.7265 6.62539C13.6996 6.54309 13.6504 6.46985 13.5844 6.41381C13.5184 6.35776 13.4381 6.32109 13.3525 6.30787L9.52929 5.71949L7.91918 2.49928C7.88051 2.42182 7.82115 2.35658 7.74768 2.3108C7.67421 2.26501 7.58949 2.24046 7.50292 2.23988Z"
                                        fill="#FFA800" />
                                </svg>
                                {% endfor %}
                                {% if rating_result != 5 %}
                                {% case rating_division %}
                                {% when 0 %}
                                <svg width="15" height="16" viewBox="-1 -2 15 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.50292 0.239877C6.41531 0.23933 6.32931 0.263343 6.25465 0.309192C6.18 0.355042 6.11969 0.420892 6.08056 0.499277L4.47045 3.71949L0.647207 4.30787C0.561629 4.32109 0.481386 4.35776 0.415377 4.41381C0.349367 4.46985 0.30017 4.54309 0.273243 4.62539C0.246315 4.70769 0.242708 4.79584 0.262823 4.88006C0.282937 4.96429 0.325987 5.0413 0.387197 5.10255L3.03185 7.7472L2.44286 11.5747C2.42969 11.6603 2.4405 11.748 2.4741 11.8278C2.5077 11.9077 2.56277 11.9767 2.63321 12.0271C2.70364 12.0776 2.78668 12.1075 2.8731 12.1136C2.95952 12.1198 3.04595 12.1018 3.12279 12.0618L6.49987 10.2997L9.87694 12.0618C9.95378 12.1018 10.0402 12.1198 10.1266 12.1136C10.2131 12.1075 10.2961 12.0776 10.3665 12.0271C10.437 11.9767 10.492 11.9077 10.5256 11.8278C10.5592 11.748 10.5701 11.6603 10.5569 11.5747L9.96789 7.7472L12.6125 5.10255C12.6737 5.0413 12.7168 4.96429 12.7369 4.88006C12.757 4.79584 12.7534 4.70769 12.7265 4.62539C12.6996 4.54309 12.6504 4.46985 12.5844 4.41381C12.5184 4.35776 12.4381 4.32109 12.3525 4.30787L8.52929 3.71949L6.91918 0.499277C6.88051 0.42182 6.82115 0.356583 6.74768 0.310797C6.67421 0.265011 6.58949 0.240464 6.50292 0.239877Z"
                                        fill="#CCCCCC" />
                                </svg>
                                {% else %}

                                <svg width="15" height="16" viewBox="0 0 15 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <mask id="mask0_5376_2222" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="1"
                                        y="2" width="13" height="13">
                                        <path
                                            d="M7.50292 2.23988C7.41531 2.23933 7.32931 2.26334 7.25465 2.30919C7.18 2.35504 7.11969 2.42089 7.08056 2.49928L5.47045 5.71949L1.64721 6.30787C1.56163 6.32109 1.48139 6.35776 1.41538 6.41381C1.34937 6.46985 1.30017 6.54309 1.27324 6.62539C1.24631 6.70769 1.24271 6.79584 1.26282 6.88006C1.28294 6.96429 1.32599 7.0413 1.3872 7.10255L4.03185 9.7472L3.44286 13.5747C3.42969 13.6603 3.4405 13.748 3.4741 13.8278C3.5077 13.9077 3.56277 13.9767 3.63321 14.0271C3.70364 14.0776 3.78668 14.1075 3.8731 14.1136C3.95952 14.1198 4.04595 14.1018 4.12279 14.0618L7.49987 12.2997L10.8769 14.0618C10.9538 14.1018 11.0402 14.1198 11.1266 14.1136C11.2131 14.1075 11.2961 14.0776 11.3665 14.0271C11.437 13.9767 11.492 13.9077 11.5256 13.8278C11.5592 13.748 11.5701 13.6603 11.5569 13.5747L10.9679 9.7472L13.6125 7.10255C13.6737 7.0413 13.7168 6.96429 13.7369 6.88006C13.757 6.79584 13.7534 6.70769 13.7265 6.62539C13.6996 6.54309 13.6504 6.46985 13.5844 6.41381C13.5184 6.35776 13.4381 6.32109 13.3525 6.30787L9.52929 5.71949L7.91918 2.49928C7.88051 2.42182 7.82115 2.35658 7.74768 2.3108C7.67421 2.26501 7.58949 2.24046 7.50292 2.23988Z"
                                            fill="#EC1D25" />
                                    </mask>
                                    <g mask="url(#mask0_5376_2222)">
                                        <path
                                            d="M7.50292 2.23988C7.41531 2.23933 7.32931 2.26334 7.25465 2.30919C7.18 2.35504 7.11969 2.42089 7.08056 2.49928L5.47045 5.71949L1.64721 6.30787C1.56163 6.32109 1.48139 6.35776 1.41538 6.41381C1.34937 6.46985 1.30017 6.54309 1.27324 6.62539C1.24631 6.70769 1.24271 6.79584 1.26282 6.88006C1.28294 6.96429 1.32599 7.0413 1.3872 7.10255L4.03185 9.7472L3.44286 13.5747C3.42969 13.6603 3.4405 13.748 3.4741 13.8278C3.5077 13.9077 3.56277 13.9767 3.63321 14.0271C3.70364 14.0776 3.78668 14.1075 3.8731 14.1136C3.95952 14.1198 4.04595 14.1018 4.12279 14.0618L7.49987 12.2997L10.8769 14.0618C10.9538 14.1018 11.0402 14.1198 11.1266 14.1136C11.2131 14.1075 11.2961 14.0776 11.3665 14.0271C11.437 13.9767 11.492 13.9077 11.5256 13.8278C11.5592 13.748 11.5701 13.6603 11.5569 13.5747L10.9679 9.7472L13.6125 7.10255C13.6737 7.0413 13.7168 6.96429 13.7369 6.88006C13.757 6.79584 13.7534 6.70769 13.7265 6.62539C13.6996 6.54309 13.6504 6.46985 13.5844 6.41381C13.5184 6.35776 13.4381 6.32109 13.3525 6.30787L9.52929 5.71949L7.91918 2.49928C7.88051 2.42182 7.82115 2.35658 7.74768 2.3108C7.67421 2.26501 7.58949 2.24046 7.50292 2.23988Z"
                                            fill="#CCCCCC" />

                                        <rect x="1.5" y="2.17725" width={{rating_division | times: 12}} height="12"
                                            fill="#FFA800" />
                                    </g>
                                </svg>
                                {% endcase %}

                                {% assign rating_empty = 5 | minus: rating_result %}
                                {% for i in (2..rating_empty) %}
                                <svg width="15" height="16" viewBox="-1 -2 15 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.50292 0.239877C6.41531 0.23933 6.32931 0.263343 6.25465 0.309192C6.18 0.355042 6.11969 0.420892 6.08056 0.499277L4.47045 3.71949L0.647207 4.30787C0.561629 4.32109 0.481386 4.35776 0.415377 4.41381C0.349367 4.46985 0.30017 4.54309 0.273243 4.62539C0.246315 4.70769 0.242708 4.79584 0.262823 4.88006C0.282937 4.96429 0.325987 5.0413 0.387197 5.10255L3.03185 7.7472L2.44286 11.5747C2.42969 11.6603 2.4405 11.748 2.4741 11.8278C2.5077 11.9077 2.56277 11.9767 2.63321 12.0271C2.70364 12.0776 2.78668 12.1075 2.8731 12.1136C2.95952 12.1198 3.04595 12.1018 3.12279 12.0618L6.49987 10.2997L9.87694 12.0618C9.95378 12.1018 10.0402 12.1198 10.1266 12.1136C10.2131 12.1075 10.2961 12.0776 10.3665 12.0271C10.437 11.9767 10.492 11.9077 10.5256 11.8278C10.5592 11.748 10.5701 11.6603 10.5569 11.5747L9.96789 7.7472L12.6125 5.10255C12.6737 5.0413 12.7168 4.96429 12.7369 4.88006C12.757 4.79584 12.7534 4.70769 12.7265 4.62539C12.6996 4.54309 12.6504 4.46985 12.5844 4.41381C12.5184 4.35776 12.4381 4.32109 12.3525 4.30787L8.52929 3.71949L6.91918 0.499277C6.88051 0.42182 6.82115 0.356583 6.74768 0.310797C6.67421 0.265011 6.58949 0.240464 6.50292 0.239877Z"
                                        fill="#CCCCCC" />
                                </svg>
                                {% endfor %}

                                {% endif %}
                            </div>
                            <label class="rating">{{product.metafields.rating_count.value}}</label>
                        </div>
                        <h2>from {{product.price | money}}</h2>
                    </div>
                </div>
                {%- endfor -%}
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper', {
        loop: false,
        speed: 500,
        slidesPerView: 'auto',
        slidesPerGroup: 1,
        effect: 'slider',
        grabCursor: true,
        longSwipes: false,
        centeredSlides: false,

        autoplay: {
            delay: 3000,
        },
        breakpoints: {
            0: {
                enabled: true
            },
            578: {
                enabled: false
            },
        }
    });
</script>

{% schema %}
{
"name": "product-tabs",
"settings": [
{
"type": "text",
"id": "title",
"label": "Title",
"default": "Fabula Fan's Top Picks"
},
{
"type": "collection",
"id": "collection",
"label": "t:sections.featured-collection.settings.collection.label"
}

],
"blocks": [
{
"type": "collection",
"name": "collections",
"settings": [
{
"type": "collection",
"id": "collection",
"label": "Collection"
}
]
}
],
"presets": [
{
"category": "product-tabs",
"name": "product-tabs"
}
]
}
{% endschema %}